<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Calculus | Consultar</title>
	
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet"> 
    <link href="css/lightbox.css" rel="stylesheet">
	<link href="css/custom.css" rel="stylesheet">	
	<link href="css/main.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
    <link href="css/ng-notify.min.css" rel="stylesheet">
	<link rel="icon" href="images/LogoBox.png">

	<!--[if lt IE 9]>
	    <script src="js/html5shiv.js"></script>
	    <script src="js/respond.min.js"></script>
    <![endif]-->
	
    <script src="js/Defaults/angular.min.js"></script>  
    <script src="js/Defaults/ng-notify.min.js"></script>
</head>

<body ng-app="ConsultarApp" ng-controller="ConsultarController as ConsultarCtrl" ng-init="ConsultarCtrl.init()">
    <header-directive></header-directive>

    <section id="page-breadcrumb">
        <div class="vertical-center sun">
             <div class="container">
                <div class="row">
                    <div class="action">
                        <div class="col-sm-12">
                            <h1 class="title">Consultar</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--/#action-->

    <div class="container">
		<hr>
		<div id="feature-container">

			<div class="form-group" ng-cloak>
				<input id="motivo" type="text" ng-model="ConsultarCtrl.motivo" class="form-control" required="required" placeholder="Motivo">
			</div>

			<div class="form-group">
				<textarea type="password" style="min-height: 100px;" ng-model="ConsultarCtrl.duda" class="form-control" required="required" placeholder="Consulta"></textarea>
			</div> 

			<div class="form-group">
				<input type="submit" ng-click="ConsultarCtrl.sendDuda()" class="btn btn-submit" value="Consultar">
			</div>
		
		</div><!--/#feature-container-->
		<hr>
    </div>
          
    <footer-directive></footer-directive>

    <script type="text/javascript" src="js/Defaults/jquery.js"></script>
    <script type="text/javascript" src="js/Defaults/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/Defaults/lightbox.min.js"></script>
    <script type="text/javascript" src="js/Defaults/wow.min.js"></script>
    <script type="text/javascript" src="js/Defaults/main.js"></script>   
    <script type="text/javascript" src="js/utiles.js"></script>
    <script type="text/javascript" src="js/consultar.js"></script>
	
</body>
</html>
